<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dexBusman.dao.ActiveDao">

    <select id="busmanNoActive" resultType="domain.warePojo">
        select * from ware where busman_id=#{busman_id} and ware_active='未参与活动'
    </select>

    <select id="getActiveDidWare" resultType="domain.warePojo">
        select * from ware where busman_id=#{busman_id} and ware_active!='未参与活动'
    </select>

    <!--2021-08-13修改-->
    <update id="busmanAddFullReduction" parameterType="domain.activePojo">
        update ware set ware_activeFullReduction=#{full_reduction}
        ,ware_activeFullPrice=#{full_price},ware_active=#{type} where id=#{ware_id}
    </update>

    <!--2021-08-13修改-->
    <insert id="busmanAddDiscount" parameterType="domain.activePojo">
        update ware set ware_activeDiscount=#{discount_detail}
        ,ware_active=#{type} where id=#{ware_id}
    </insert>

    <update id="outActiveWare" parameterType="int">
        update ware set ware_active='未参与活动' where id=#{ware_id} and busman_id=#{busman_id}
    </update>

    <!--2021-08-13修改-->
    <select id="getWareActiveMessage" parameterType="int" resultType="domain.warePojo">
        select * from ware where busman_id=#{busman_id} and id=#{ware_id}
    </select>

    <!--2021-08-13修改-->
    <update id="busmanUpdateDiscount" parameterType="domain.warePojo">
        update ware set ware_activeDiscount=#{ware_activeDiscount} where busman_id=#{busman_id} and id=#{id}
    </update>

    <!--2021-08-13修改-->
    <update id="busmanUpdateFull" parameterType="domain.warePojo">
        update ware set ware_activeFullReduction=#{ware_activeFullReduction},ware_activeFullPrice=#{ware_activeFullPrice}
        where busman_id=#{busman_id} and id=#{id}
    </update>

</mapper>
